[run]
branch = True
source = wannago
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    raise NotImplemented
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    venv/*
    tests/*
